/* embedding "Outfit" font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* base styles */
:root {
	font-size: 133%;
}

body {
	font-family: "Outfit", sans-serif;
	font-weight: 300;
	background-color: #FAFAFA;
}

/* headings */
h1 {
	font-weight: 700;
	font-size: 4rem;
	color: #B93026;
	line-height: 1;
	margin-block-start: 2.6rem;
	margin-block-end: 2.5rem;

	span:nth-child(1) {
		margin-inline-start: 9vw;
	}

	span:nth-child(2) {
		margin-inline-start: 18vw;
	}

	span:nth-child(3) {
		margin-inline-start: 13.5vw;
	}
}

h2 {
	font-weight: 500;
	font-size: 1.75em;
	color: #333333;
	position: sticky;
	margin-top: 4rem;
	top: 4rem;
}

h3 {
	font-weight: 500;
	font-size: 1.25rem;
	color: #333333;
}

/* main text */
main {
	p {
		margin-block-start: 2rem;
		max-width: 60ch;
	}
}

/* footer */
footer {
	margin-block-start: 2rem;
	font-weight: 400;
}

summary {
	color: #F3BC06;
}

summary:hover {
	/* from MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
	cursor: pointer;
	color: #EAAC00;
}

/* navigation links */
nav {
	position: fixed;
	top: 0;
	right: 0;
	margin-block-start: 4.5rem;
	margin-inline-end: 8vw;
	text-align: end;
	line-height: 4;
}

/* links */
a {
	font-weight: 400;
	color: #FFFFFF;
	background-color: #F3BC06;
	padding: 0.075rem;
}

a:hover {
	color: #F3BC06;
	background-color: #FAFAFA;
}

a:active {
	color: #EAAC00;
	background-color: #FAFAFA;
}

/* lists */
ul {
	margin-block-start: 2rem;
	/* indentation */
	padding-left: 4rem;
}

/* chapter and page number parenthicals */
.chapter {
	font-weight: 500;
	color: #B93026;
}

/* emphasis */
em.underline {
	/* from MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration#values */
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: #ED6A5E;
	/* from MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/text-underline-offset */
	text-underline-offset: 0.125rem;
}

em.numbers {
	background-color: #C9D0F2;
	padding: 0.05em;
	font-size: 0.8em;
}

em.fractions {
	/* fixing the fractions from not being formatted using my main font */
	font-family: Geneva, sans-serif, sans-serif;
	font-weight: 100;
}

/* color-coded emphasis */
.lighter-red {
	color: #E93323;
}

.lighter-blue {
	color: #627CEC;
}

.darker-blue {
	color: #364CB1;
}