/* embedding "Outfit" font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* base styles */
body {
	font-family: "Outfit", sans-serif;
	font-weight: 300;
	font-size: 1.125rem;
	/* to calculate rem size i just took the px sizes of the text in figma and divided them by 16, 82px รท 16 = 1.125rem */
	padding: 3rem;
	background-color: #FAFAFA;
}

/* headings */
h1 {
	font-weight: 700;
	font-size: 5.125rem;
	color: #E93323;
}

h2 {
	font-weight: 500;
	font-size: 2em;
	color: #444444;
}

h3 {
	font-weight: 500;
	font-size: 1.5rem;
}

/* emphasis */
em.main-title {
	color: #B93026;
}

em.harmony {
	color: #627CEC;
}

em.quantity {
	color: #364CB1;
}