/* embedding "Outfit" font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* base styles */
body {
	font-family: "Outfit", sans-serif;
	font-size: 1.125rem;
	padding: 3rem;
	font-weight: 300;
}

/* headings */
h1 {
	font-size: 5.125rem;
	font-weight: 700;
	color: #E93323;
}

h2 {
	font-size: 
}

/* emphasis */
em.main-title {
	color: #B93026;
}